<nav>
<ul>
    <li><a href="/pets">All Pets</a></li>
    <li><a href="/shelters">All Shelters</a></li>
</ul>
</nav>

<h1> <%= @shelter.name %> </h1>

  <h2><%= @shelter.address %></h2>
  <h2><%= @shelter.city %></h2>
  <h2><%= @shelter.state %></h2>
  <h2><%= @shelter.zip %></h2>
  <h2><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></h2>
  <h2><%= link_to "DELETE", "/shelters/#{@shelter.id}", method: :delete %></h2>
