<header>
  <h1> Adopt Don't Shop </h1>
<ul>
    <li><a class="big_link" href="/pets">All Pets</a></li>
    <li><a class="big_link" href="/shelters">All Shelters</a></li>
</ul>
</header>
<div class="main">
<h2><%= link_to "Pets at this shelter", "/shelters/#{@shelter.id}/pets"%></h2>

<h1> <%= @shelter.name %> </h1>

  <h2><%= @shelter.address %></h2>
  <h2><%= @shelter.city %></h2>
  <h2><%= @shelter.state %></h2>
  <h2><%= @shelter.zip %></h2>
</div>
<div class="updates" >
  <h2><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></h2>
  <h2><%= link_to "DELETE", "/shelters/#{@shelter.id}", method: :delete %></h2>
</div>
