<h1>Edit a Pet</h1>
<%= form_tag "/pets/#{@pet_id}/edit" do %>
    <%= label_tag :image %>
    <%= text_field_tag :image %><br/>
    <%= label_tag :name %>
    <%= text_field_tag :name%><br/>
    <%= label_tag :description%>
    <%= text_field_tag :description %><br/>
    <%= label_tag :approximate_age %>
    <%= text_field_tag :approximate_age %><br/>
    <%= label_tag :sex %>
    <%= text_field_tag :sex %><br/>
    <%= hidden_field_tag :adoption_status, 'adoptable' %>
  <%= submit_tag 'Update Pet' %>
<% end %>
